<h1>Create a new event for <%= @venue.name %></h1>

<section>
<%= form_for [:admin, @venue, @event] do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :description %>
<%= f.text_field :description %>
<%= f.label :date %>
<%= f.text_field :date %>
<%= f.submit %>
<% end %>
</section>
