<h1><%= @artist.name %></h1>
<section>
<p><%= @artist.bio %></p>
<p><%= @artist.link %></p>
<p><%= @artist.img %></p>
</section>

<p><%=link_to "Edit #{@artist.name}", edit_admin_artist_path %></p>
<p><%= link_to "Add #{@artist.name} to an event", new_admin_artist_artist_event_path(@artist) %>
