<h1><%= @event.title %></h1><br>
<section>
  <%= @event.description %><br>
  <%= @event.date %>
  <p> Venue: <%= @event.venue.name %></p>

  <% @event_artists.each do |event_artist| %>
  binding.pry
    <h1>Featured Artists: <%= link_to "#{event_artist.name}", artist_path(@event_artists.ids) %></h2>
  <% end  %>
</section>
